/* Estilos generales */
body {
    font-family: "Archivo", serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.cuerpoPagina {
    position: relative;
}


/* Encabezado */
.barraNavegacion {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 20px 5vw;
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.bannerH1 {
    text-align: center;
    font-family: "Comfortaa", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -1.92px;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    list-style-type: none;
    margin: 0 50px;
}

.botonNav {
    text-decoration: none;
    color: #fff;
}

.contactaNav {
    display: flex;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: #DFD6B5;
    color: #000;
    text-decoration: none;
}

.bannerInicio {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    top: 25vh;
}

.bannerContent {
    display: flex;
    width: 841px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 50vw;
}

.bannerLogo {
    display: none;
    justify-content: center;
    position: relative;
    height: fit-content;
    align-items: center;
}

.bannerBilab {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FDFAF0;
    font-size: 5vw;
    font-weight: 400;
}

.logoSvg {
    width: 5vw;
    height: 5vw;
}

.btnCTA {
    display: flex;
    font-family: "Comfortaa", serif;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: #DFD6B5;
    color: #161616;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

/* Secciones */
.servicios {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    height: 100%;
    position: relative;
}

@media (max-width: 1300px) {
    .servicios {
        padding: 0 4vw;
    }
}

.containerServicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.serviciosLogos {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.serviciosContent {
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lineasContainer {
    display: flex;
    height: 55%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.lineasContainerMobile {
    display: none;
}


.lineasDiv {
    display: flex;
    justify-content: end;
}

.lineasDiv p {
    font-family: "Quicksand", serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.serviciosLogosContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.logosSubDiv {
    width: 100%;
}

.tituloServicios {
    position: absolute;
    top: 5vw;
    border-radius: 24px;
    background: linear-gradient(to bottom right, #BC65DE 40%, #5241B0);
    /* Gradiente de izquierda a derecha */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tituloServicios::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    /* Radio menor que el contenedor externo */
    background: #000;
    /* Fondo s贸lido negro (ajustable) */
    z-index: 0;
}

.tituloSeccionServicios {
    font-family: "Quicksand", serif;
    text-align: left;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.16px;
    z-index: 2;
    margin: 0;
    padding: 0.7vw 2vw;
}


.servicioLogosText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.16px;
}

.icono {
    width: 24px;
    height: 24px;
}

.bloqueServicios1,
.bloqueServicios2,
.bloqueServicios3 {

    border-radius: 24px;
    display: flex;
    height: 117px;
    width: 12vw;
    margin: 1.5vw 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.contenedorBloqueDerecho {
    margin-right: 1.5vw;
}

.contenedorBloqueServicios {
    display: flex;
    justify-content: center;
    align-content: stretch;
    height: 140px;
}

.bloqueServicios {
    position: relative;
    border-radius: 24px;
    background: linear-gradient(to bottom right, #9747FF, #D9D9D9);
    /* Gradiente de izquierda a derecha */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 177px;
}

.bloqueServicios img,
.bloqueServicios p {
    position: relative;
    z-index: 1;
}

.bloqueServicios1::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    /* Radio menor que el contenedor externo */
    background: #3E3088;
    /* Fondo s贸lido negro (ajustable) */
    z-index: 0;
}

.bloqueServicios2::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    /* Radio menor que el contenedor externo */
    background: #6F64AB;
    /* Fondo s贸lido negro (ajustable) */
    z-index: 0;
}

.bloqueServicios3::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    background: #421F4F;
    z-index: 0;
}


.bloqueServicios p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}

.serviciosTitleMobile {
    color: #FFF;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.servicioTitle {
    font-family: "Quicksand", serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
}

.servicioText {
    color: #B9B9B9;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
}

/* Socios */
.imagenSocio {
    width: 90vw;
    margin: 10px;
}

.tituloPartners {
    color: #FFF;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Diferencias */

.seccionDif {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding: 0 6vw;
}

.contenedorDif {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.difDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconoDif {
    width: 120px;
    height: 120px;
    border-radius: 32px;
    background: #58564F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconosText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    height: 150px;
    flex-shrink: 0;
    text-align: start;
    align-self: stretch;
    width: 317px;
    margin: 0;
}

.difH3 {
    color: #FFF;
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin: 20px 0 10px 0;
    line-height: 140%;
    width: 317px;
    text-align: left;
}

.tituloDiv {
    position: relative;
    border-radius: 24px;
    background: linear-gradient(to bottom right, #BC65DE, #5241B0);
    /* Gradiente de izquierda a derecha */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 10vh;
}

.tituloDiv::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    /* Radio menor que el contenedor externo */
    background: #000;
    /* Fondo s贸lido negro (ajustable) */
    z-index: 0;
}

.tituloDiv h2 {
    position: relative;
    z-index: 1;
}

.tituloDif {
    color: #FFF;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 10px 15px;
}

/* Equipo */

.seccionEquipo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15vh 0;
    padding: 0 6vw;
}

.tituloEquipoDiv {
    position: relative;
    border-radius: 24px;
    background: linear-gradient(to bottom right, #BC65DE, #5241B0);
    /* Gradiente de izquierda a derecha */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 10vh;
}

.tituloEquipoDiv::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 24px;
    /* Radio menor que el contenedor externo */
    background: #000;
    /* Fondo s贸lido negro (ajustable) */
    z-index: 0;
}

.tituloEquipo {
    color: #FFF;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 10px 15px;
    position: relative;
    z-index: 1;
}

.miembroEquipo {
    display: flex;
    padding: 32px 24px;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border, #D9D9D9);
    background: #353535;
    margin: 20px;
    width: 40vw;
}

.miembroEquipo2 {
    display: none;
}

.miembroEquipo h5 {
    color: #FFF;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 10px 0;
}

.perfil {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.nombreMiembro {
    color: #FFF;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%;
    margin: 0;
}

.descripcionMiembro {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
    margin: 0;
}

.equipoSup {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* Contacto */

.ContactoTitleDiv {
    margin-bottom: 10vh;
}

.tituloContacto {
    color: #FFF;
    text-align: center;
    font-family: "Comfortaa", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    letter-spacing: -1.8px;
    margin: 0;
}

.subtituloContacto {
    font-family: "Comfortaa", serif;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.5%;
    margin-top: 1vw;
    margin-bottom: 0;
    letter-spacing: -2.88px;
    background: linear-gradient(90deg, #7966E2 40%, #BC65DE 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputDiv2 {
    display: flex;
    justify-content: space-between;
}

.formularioContacto {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inputTexto,
.inputCorreo,
.inputTelefono {
    font-family: "Archivo", serif;
    width: 27.5vw;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    background: #363636;
    color: #fff;
    font-size: 20px;

}

.inputTexto,
.inputCorreo,
.inputTelefono::placeholder {
    font-family: "Archivo", serif;
}

.inputMensaje {
    font-family: "Archivo", serif;
    width: -webkit-fill-available;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    background: #363636;
    font-size: 20px;
    color: #fff;
    height: 170px;
    resize: none;
    /* Desactiva el redimensionamiento manual */
    overflow: hidden;
    /* Oculta el scroll */
    transition: border-color 0.3s ease;
}

.inputMensaje::placeholder {
    font-family: "Archivo", serif;
    padding-left: 15px;
}

.inputMensaje:focus {
    border-color: #a35bff;
    /* Cambia el color del borde al hacer clic */
}

.labelForm {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start !important;
}

.botonEnviar {
    border-radius: 50px;
    background: #DFD6B5;
    padding: 15px 30px;
    border: none;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
}

/* FAQ */

.faq {
    max-width: 800px;
    margin: 0 auto;
}

.faq-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.faq-item {
    background-color: #363636;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    font-family: "Quicksand", serif;
    font-size: 16px;
    background-color: #363636;
    color: #fff;
    font-weight: 500;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.faq-icon {
    font-size: 1.5rem;
    color: #A35BFF;
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 0 20px;
    line-height: 1.6;
    display: none;
    color: #979797;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}

.faq-answer p {
    margin: 15px 0;
}

.faq-item.open .faq-answer {
    display: block;
    height: auto;
}

.faq-item.open .faq-icon {
    transform: rotate(0);
}

.faq-icon:hover {
    color: white;
}

/* Pie de p谩gina */
.piePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25vh 4vw 15vh 4vw;
    position: relative;
    width: inherit;
}

.enlaceRedSocial1 {
    width: auto;
    height: auto;
    margin: 0 10px;
}

.enlaceRedSocial2 img {
    height: 35px;
    margin: 0 10px;
}

.enlaceRedSocial1 img {
    width: auto;
    height: auto;
}

.logoFooter {
    width: 200px;
}


.tituloContacto2 {
    color: #FFF;
    text-align: center;
    font-family: "Comfortaa", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    letter-spacing: -1.8px;
    margin: 15vh 0 3vh 0;
}

.enlaceRedSocial {
    color: #a68eff;
    margin: 0 10px;
    text-decoration: none;
}

.redesContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15vh;
}

/* eclipse */

.eclipses {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

.eclipsesDiv {
    position: absolute;
    height: 100%;
    top: -25%;
    pointer-events: none;
}

.eclipse1 {
    position: absolute;
    bottom: 8vw;
    left: -18vw;
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(145, 90, 255, 0.40) 10%, rgba(255, 255, 255, 0.00));
}

.eclipse2 {
    position: absolute;
    bottom: -20vw;
    /*  Ajusta la altura del c铆rculo */
    right: -50vw;
    /*  Lo centra con respecto a la pantalla */
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(145, 90, 255, 0.40) 10%, rgba(255, 255, 255, 0.00));
    transform: translate(50%, 0);

}

.derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20.236px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.imagenSocio2 {
    display: none;
}


/* Responsividad */
@media (max-width: 990px) {

    .imagenSocio {
        display: none;
    }

    .imagenSocio2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /*HEADER*/
    .menuToggle {
        display: block;
        /* Muestra el bot贸n hamburguesa */
    }

    .menuContainer {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 20px 0;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
    }

    .menuContainer.active {
        display: block;
        /* Muestra el men煤 cuando se active */
    }

    /* OTROS */
    .tituloPrincipal {
        font-size: 2rem;
    }

    .descripcionEmpresa {
        font-size: 1rem;
    }

    .imagenSocio {
        width: 100px;
    }


    .contenedorDif {
        flex-direction: column;
    }

    .eclipsesDiv {
        display: none;
    }

    .equipoSup {
        flex-direction: column;
    }

    .bannerInicio {
        height: 100%;
        top: 0;
    }

    .containerServicios {
        flex-direction: column;
    }

    .lineasContainer {
        display: none;
    }

    .lineasContainerMobile {
        display: flex;
        flex-direction: column;
    }

    .serviciosLogos {
        display: none;
    }

    .tituloServicios {
        position: relative;
        top: 0;
    }

    .servicios {
        flex-direction: column;
        margin-top: 5vh;
    }

    .serviciosContent {
        text-align: center;
    }

    .servicioText {
        text-align: left;
    }

    .subtituloContacto {
        font-size: 48px;
    }

    .serviciosLogosContainer {
        flex-direction: column;
    }

    .bloqueServicios {
        width: 92vw;
        height: 117px;
    }

    .tituloPartners {
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
    }

    .seccionEquipo {
        margin: 0 4vw;
    }

    .equipoSup {
        width: 100vw;
        position: relative;
    }

    .equipos3 {
        display: none;
    }

    .miembroEquipo2 {
        display: flex;
        width: 100%;
    }

    .formularioContacto {
        width: 92vw;
    }

    .inputDiv2 {
        flex-direction: column;
    }

    .inputTexto,
    .inputTelefono,
    .inputCorreo {
        width: auto;
    }

    .tituloContacto2 {
        font-size: 36px;
        margin: 5vh 0 3vh 0;
    }

    .ContactoTitleDiv {
        font-size: 36px;
    }

    .redesSection {
        margin: 0 4vw;
    }

    .faq {
        margin: 0 4vw;
    }

    .faq-question {
        padding: 32px;
    }

    .faq-item {
        border-radius: 30px;
    }

    .piePagina {
        padding: 0;
        padding-top: 80px;
        flex-direction: column;
        gap: 80px;
    }

    .derechos {
        order: 40;
    }

    .derechosReservados {
        margin: 0;
    }
}